  <script src="/assets/js/Chat.js"></script>
<div class="chat-contenedor">
  <div class="chat-mensages" id="chat-mensajes">

  </div>
  <input class="chat-input" id="mensaje" type="text" placeholder="Ingrese su mensaje">
</div>
